/* basic elements */

$basecolor: black;
$fonts: georgia, sans-serif;

html {
  margin: 0;
  padding: 0;
  }

body {
  font: 75% $fonts;
  line-height: 1.88889;
  color: #555753;
  background: #fff url(blossoms.jpg) no-repeat bottom right;
  margin: 0;
  padding: 0;
  }

p {
  margin-top: 0;
  text-align: justify;
  }
  
h3 {
  font: italic normal 1.4em $fonts;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #7D775C;
  }

a {
  font-weight: bold;
  text-decoration: none;
  color: #B7A5DF;

  &:link {
    color: #B7A5DF;
  }
  &:visited {
    color: #D4CDDC;
  }
  &:hover,&:focus,&:active {
    text-decoration: underline;
    color: #9685BA;
  }
}

abbr {
  border-bottom: none;
  }

/* specific divs */


@mixin heading($margin-top, $width, $height, $url, $float) {
  background: transparent url($url) no-repeat top left;
  margin-top: $margin-top;
  width: $width;
  height: $height;
  float: $float;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

header {
  padding-top: 20px;
  height: 87px;

  h1 {
    @include heading(10px, 219px, 87px, h1.gif, left);
    display: block;
  }

  h2 {
    @include heading(58px, 200px, 18px, h2.gif, right);
    margin-bottom: 40px;
  }
}
