/* basic elements */

$basecolor: black;
$fonts: georgia, sans-serif;

html {
  margin: 0;
  padding: 0;
  }

body {
  @extend html;
  font: 75% $fonts;
  line-height: 1.88889;
  color: #555753;
  background: #fff url(blossoms.jpg) no-repeat bottom right;
  }

p {
  margin-top: 0;
  text-align: justify;
  }
  
h3 {
  font: italic normal 1.4em $fonts;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #7D775C;
  }

a {
  font-weight: bold;
  text-decoration: none;
  color: #B7A5DF;

  &:link {
    color: #B7A5DF;
  }
  &:visited {
    color: #D4CDDC;
  }
  &:hover,&:focus,&:active {
    text-decoration: underline;
    color: #9685BA;
  }
}

abbr {
  border-bottom: none;
  }

/* specific divs */


@mixin headandside($margin, $width, $height, $url) {
  background: transparent url($url) no-repeat top left;
  margin: $margin;
  width: $width;
  height: $height;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

header {
  padding-top: 20px;
  height: 87px;

  h1 {
    @include headandside(10px 0 0 0, 219px, 87px, "h1.gif");
    display: block;
    float: left;
  }

  h2 {
    @include headandside(58px 0 40px 0, 200px, 18px, "h2.gif");
    float: right;
  }
}

.summary {
  clear: both;
  margin: 20px 20px 20px 10px;
  width: 160px;
  float: left;

  p {
  font: italic 1.1em/2.2 $fonts;
  text-align: center;
  }
}

.preamble {
  clear: right;
  padding: 0px 10px 0 10px;
  }

.supporting {
  padding-left: 10px;
  margin-bottom: 40px;
  }

footer {
  text-align: center;

  a{
    &:link, &:visited {
      margin-right: 20px;
    }
  }
}

.sidebar {
  margin-left: 600px;
  position: absolute;
  top: 0;
  right: 0;

  .wrapper {
  font: 10px verdana, sans-serif;
  background: transparent url(paper-bg.jpg) top left repeat-y;
  padding: 10px;
  margin-top: 150px;
  width: 130px;
  }

  h3.select {
  @include headandside(10px 0 5px 0, 97px, 16px, "h3.gif")
  }

  h3.archives {
  @include headandside(25px 0 5px 0, 57px, 14px, "h5.gif");
  }

  h3.resources {
  @include headandside(25px 0 5px 0, 63px, 10px, "h6.gif");
  }

}